
body{
    background-color: black;
}
.social1{
    background-color: rgb(214,214,214,.5);
    display:flex;
    align-content: center;
    justify-content: center;
    min-height: 100hv;
}
.ss-btn{
    position: relative;
    height: 60px;
    width: 60px;
    margin: 20px;
    background:rgb(214,214,214);
    border-radius: 50%;
    box-shadow: -9px -9px 20px 0 rgb(255,255,255,0.9),
    7px 7px 20px 0 rgba(0, 0, 0, 0.3);


}

.ss-btn::before{
content: "";
position: absolute;
height: 80%;
width: 80%;
background:rgb(214,214,214);
border-radius: 50%;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
transition: 0.2s;

}
.ss-btn:hover::before{
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 1),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
}
.ss-btn:hover i {
    font-size: 30px;
  }
.ss-btn:hover{
    transform: scale(1.1);
}
.ss-btn i {
    position: absolute;
    color: #07BCBC;
    font-size: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
  }